a:hover {
  text-decoration: none;
}
a.read-more {
  display: inline-block;
  text-align: left;
  color: #243141;
  font-size: 14px;
  font-family: 'DINOT-Black';
  padding-right: 25px;
  background: url('../images/main/arrow-dark-blue.png') no-repeat right center transparent;
}
.needClear {
  display: block;
}
#site-head {
  position: fixed;
  width: 100%;
  z-index: 130;
}
#top-navbar {
  position: relative;
    z-index: 120;
  background-color: #3e63ac;
  border-radius: 0;
  border: none;
  height: 48px;
  min-height: auto;
  margin-bottom: 0;
}
#top-navbar .navbar-brand{
  position: relative;
  z-index: 120;
  padding: 0 15px;
  height: 48px;
}
#top-navbar .navbar-brand img{
  margin-left: -15px;
}
#top-menu-wrapper {
  float: right;
  position: relative;
}
#top-menu {
  float: left;
}
#top-menu .navbar-nav>li>a {
  line-height: 18px;
  font-family: 'DINOT-Black';
  font-size: 12px;
  color: #ededed;
}
#top-menu .navbar-nav>li.active>a {
  color: #ededed;
    background: none;
}
#block-search {
  float: right;
  position: relative;
}
#block-search .member-access {
  display: inline-block;
  padding: 15px 25px 15px 15px;
  margin-left: 20px;
  position: relative;
  line-height: 18px;
  font-family: 'montserratsemi_bold';
  color: #ededed;
  font-size: 14px;
  background: url('../images/header/memberIcon.png') no-repeat 15px center #e07c0e;
  padding-left: 50px;
}
#block-search .member-access:before {
  position: absolute;
  content: '';
  left: -21px;
  top: 0;
  height: 48px;
  width: 21px;
  background: url('../images/header/after_memberAccess.png') no-repeat left center transparent;
}
#block-search .member-access:hover {
  text-decoration: none;
}
#search-icon {
  display: inline-block;
  float: right;
  cursor: pointer;
  padding: 0 30px;
  height: 48px;
  width: 25px;
  background-color: #e09d0e;
  text-indent: -9999px;
  position: relative;
  background: url('../images/header/searchIcon.png') no-repeat center center #e09d0e;
}
#search-icon .after-icon {
  position: absolute;
    top: 0;
    left: 60px;
    width: 0;
    height: 48px;
    content: '';
    background-color: #e09d0e;
}
#main-navbar {
  position: relative;
  background: url('../images/header/bg-main-menu.png') repeat-x top center transparent;
  margin: 0;
  border: none;
  border-radius: 0;
  position: relative;
    z-index: 99;
}
#main-navbar:after {
  position: absolute;
  bottom: -25px;
  height: 25px;
  width: 100%;
  content: '';
  background: url('../images/header/ombre_menu.png') no-repeat center center transparent;
}
#main-menu {
  float: right;
}
#main-menu .navbar-nav>li>a {
  text-transform: uppercase;
  color: #eef0f3;
  font-size: 16px;
  font-family: 'montserratbold';
  line-height: 60px;
}
#main-menu .navbar-nav>li.active>a {
  background: no-repeat;
}

/* footer */
#site-footer {

}
#main-footer {
  background-color: #1f3e86;
  color: #ffffff;
  font-size: 14px;
  font-family: 'DINOT-Regular';
  padding: 40px 0 30px 0;
}
#main-footer .social-link{
  display: block;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
#main-footer .social-link li{
  display: inline-block;
  margin-right: 15px;
}
#main-footer .social-link li a {
  display: block;
  width: 53px;
  height: 53px;
  padding: 15px;
  border-radius: 50%;
  border:1px solid #3a5697;
  text-align: center;
  color: #c2c9db;
}
#main-footer .contact-info {
  display: block;
  padding: 0;
  margin-bottom: 0;
}
#main-footer .contact-info li{
  list-style: none;
  padding:5px 0 5px 70px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}
#main-footer .contact-info li.address{
  background-image: url('../images/footer/pin.png');
}
#main-footer .contact-info li.phone{
  background-image: url('../images/footer/phone.png');
}
#main-footer .contact-info li.mail{
  background-image: url('../images/footer/mail.png');
}
#main-footer .footer-widget-list {

}
#main-footer .footer-widget-list h3{
  font-family: 'montserratbold';
  color: #309af4;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 25px;
  margin-top: 0;
  position: relative; 
}
#main-footer .footer-widget-list h3:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 47px;
  height: 3px;
  background: url('../images/footer/afterWidgetTitle.png') no-repeat left center;
}
#main-footer .footer-widget-list ul {
  display: block;
  padding: 0;
  margin: 0;
}
#main-footer .footer-widget-list li {
  list-style: none;
  margin-bottom: 10px;
}
#main-footer .footer-widget-list a {
  color: #fff;
}
#secondary-footer {
  background-color: #e07c0e;  
}
#secondary-footer p {
  padding: 12px 0;
  color: #fff;
  font-size: 10px;
  font-family: 'montserratlight';
  text-transform: uppercase;
  margin: 0;
}
#secondary-footer p a {
  font-family: 'montserratbold';
  color: #fff;
}
/* carousel */
#bs-carousel {
  position: relative;
  z-index: 1; 
}
#bs-carousel .slideBg {
  height: 765px;
  background-repeat: no-repeat;
  background-size: cover;
}
#bs-carousel .carousel-indicators {
  width: 20px;
    left: 50%;
    margin-left: 40%;
    bottom: 40%;
}
#bs-carousel .carousel-indicators li {
  opacity: 0.3;
  border: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
}
#bs-carousel .carousel-indicators li.active {
  opacity: 1;
}
#bs-carousel .hero {
  position: absolute;
  top: 420px;
  width: 700px;
  margin-left: -15px;
}
#bs-carousel .hero h1 {
  font-family: 'montserratextra_bold';
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
  margin: 0;
  line-height: 45px;
}
#bs-carousel .hero.dark h1,
#bs-carousel .hero.dark h3 {
  color: #000;
}
#bs-carousel .hero h3 {
  font-family: 'DINOT-Regular';
  font-style: italic;
  color: #fff;
  font-size: 27px;
  margin: 0;
}
#bs-carousel .hero .btn {
  margin: 30px 25px 0 0;
  padding:13px 40px 13px 30px;
  line-height: 18px;
  vertical-align: middle;
  border: none;
  border-radius: 0;
  color: #3e63ac;
  font-size: 14px;
  font-family: 'montserratbold';
  text-transform: uppercase;
}
#bs-carousel .hero .btn.btn-hero-default {
  background: url('../images/header/arrow-blue.png') no-repeat 85% center #ffffff;
}
#bs-carousel .hero .btn.btn-hero-orange {
  background: url('../images/header/arrow-white.png') no-repeat 85% center #ecab66;
}
#page-head-wrap {
  position: relative;
  z-index: 1;
  height: 590px;
  background-size: cover;
  .hero {
    text-align: center;
    margin-top: 200px;
    h1 {
      font-family: 'montserratextra_bold';
      color: #fff;
      font-size: 48px;
      text-transform: uppercase;
      margin: 0;
      line-height: 45px;
    }
    h3 {
      font-family: 'DINOT-Regular';
      font-style: italic;
      color: #fff;
      font-size: 27px;
      margin: 0;
    }
  }
}
  
/* main content */
#main-content-wrapper {
  position: relative;
  margin-top: -120px;
  z-index: 120;
  &.categorie-page {
    margin-top: -220px;
  }
}
#main-content {
  background-color: #f4f4f5;
}
#main-content .main-title {
  color: #309af4;
  font-size: 28px;
  font-family: 'montserratextra_bold';
  text-transform: uppercase;
  margin: 50px 0 20px 0;
  padding-bottom: 15px;
  position: relative;
}
#main-content .main-title:after {
  position: absolute;
  content: '';
  width: 45px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: url('../images/main/afterMainTitle.png') no-repeat top center transparent;
  opacity: 0.5;
}
#main-content .post-item {
  clear: both;
  margin-bottom: 15px;
  float: left;
}
#main-content .post-item .thumb .wp-post-image{
  border-radius: 50%;
  border: 8px solid #e6e6e6;
}
#main-content .post-item p .item-title {
  font-family: 'DINOT-Black';
  color: #3e63ac;
}
#main-content .post-item p {
  font-family: 'DINOT-Regular';
  font-style: italic;
  color: #515355;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 30px;
}
#main-content .post-item .item-sep {
  display: block;
  width: 90%;
  margin-left: 5%;
  border-top: 1px solid #e6e6e6;
}
#main-content .shadow-after-content {
  height: 13px;
  background: url('../images/main/shadow_content.png') no-repeat top center transparent;
  margin-bottom: 10px;
}
#load-more {
  font-family: 'DINOT-Black';
  font-size: 14px;
  color:#44494e;
  clear: both;
  margin-bottom: 20px;
}
#load-more a {
  color:#44494e;
  display: inline-block;
  padding:10px 0 10px 30px;
  background: url('../images/main/load-more-icon.png') no-repeat left center transparent;
}
#main-sidebar {
  background-color: #e09d0e;
}
#edito .block-thumb {
  padding: 0;
  position: relative;
}
#edito .block-thumb:after {
  position: absolute;
  content: '';
  width: 35px;
  height: 35px;
  right: 0;
  bottom: 0;
  background: url('../images/main/president-arrow.png') no-repeat left center transparent;
}
#main-sidebar #edito h2 {
  position: relative;
  font-size: 26px;
  font-family: 'DINOT-Regular';
  font-style: italic;
  color: #fff;
  padding-bottom: 20px;
  margin-top: 55px;
    line-height: 29px;
}
#main-sidebar #edito h2 span {
  font-family: 'DINOT-Black';
}
#main-sidebar #edito h2:after {
  position: absolute;
  content: '';
  width: 45px;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
#main-sidebar #edito .edito-content {
  font-family: 'DINOT-Regular';
  font-size: 15px;
  color: #efeff1;
  padding-top: 30px;
  padding-bottom: 30px;
}
#main-sidebar #edito .edito-content p {
  margin-bottom: 25px;
}
#nl-widget {
  background: url('../images/main/bg-newletter.png') no-repeat right center #363637;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'DINOT-Regular';
}
#nl-widget h2{
  color: #309af4;
  font-size: 30px;
  font-style: italic;
  margin: 10px 0 20px 0;
}
#nl-widget h2 span{
  font-family: 'DINOT-Black';
}
#nl-widget p {
  color: #f4f4f5;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
}
#nl-widget .nl-form input[type='email'] {
  background-color: #efeff1;
  border: none;
  outline: none;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 0;
  color: #309af4;
}
#nl-widget .nl-form .btn {
  background: url('../images/main/arrow-orange.png') no-repeat right center transparent;
  color: #309af4;
  border: none;
  padding: 0 20px 0 0;
  font-style: italic;
  outline: none;
}
/* nouveaux inscrits */
#new-member-wrapper {
  background: url('../images/main/newMember-bg.png') no-repeat top center transparent;
  background-size: cover;
  .block-header {
    text-align: center;
    margin: 60px 0 30px 0;
    float: left;

    h2.block-title {
      font-family: 'montserratextra_bold';
      font-size: 40px;
      color: #3e63ac;
    }
    p {
      font-size: 16px;
      font-style: italic;
      color: #6a6d6e;
      font-family: 'DINOT-Regular';
      margin-bottom: 0;
      a {
        color: #e07c0e;
        font-family: 'DINOT-Black';
      }
    }
  }
  .block-sep {
    display: block;
    border-bottom: 1px solid #6a6d6e;
    opacity: 0.2;
    clear: both;
    position: relative;
    margin: 30px auto;
    width: 140px;
  }
  .member-item {
    margin-bottom: 60px;
    position: relative;    
    .member-item-wrap {
      background-color: #ffffff;
      -moz-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.5);
      -o-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.5);
      filter:progid:DXImageTransform.Microsoft.Shadow(color=#333333, Direction=149, Strength=8);
    }
    img.member-thumb {
      border-bottom: 5px solid #47a0ff;
      width: 100%;
    }
    .member-info {
      text-align: center;
      font-style: italic;
      padding-top: 30px;
      padding-bottom: 30px;
      h3 {
        color: #274787;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'DINOT-Black';
        margin-bottom: 30px;
        margin-top: 0;
      }
      p{
        margin-bottom: 0;
        color: #6a6d6e;
        font-size: 14px;
        font-family: 'DINOT-Regular';
      }
    }
    .member-item-link {
      ul {
        display: flex;
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          a {
            color: #817f7e;
            text-transform: uppercase;
            font-family: 'DINOT-Black';
            font-size: 11px;
            vertical-align: middle;
            border-top: 1px solid #e4e4e4;
            border-right: 1px solid #e4e4e4;
            padding: 15px 20px;
            display: block;
            outline: none; 
            i {
              color: #47a0ff;
              font-size: 16px;
              font-weight: normal;
            }
            span {
              margin-left: 15px;
            }
          }
          &:last-child a {
            border-right:none;
          }
        }
        .detail {
          width: 42%;
        }
        .site {
          width: 38%;
        }
        .more {
          width: 20%;
        }
      }
    }
  } 
}

/* modal */
.modal-dialog {
  width: 830px;
  .modal-content {
    border-radius: 0;
    border: 5px solid #e07c0e;
    .modal-header {
      background-color: #1d2530;
      .modal-link {
        display: flex;
        margin: 30px 0 0 0;
        padding: 0;
        list-style: none;
        float: right;

        li {
          text-transform: uppercase;
          display: inline-block;
          a {
            color: #fff;
            font-size: 11px;
            font-family: 'DINOT-Black';
            padding: 10px 20px;
            border-right: 1px solid #484e57;
            float: left;
          }
          &:last-child a {
            border-right: none;
            color: #e07c0e;
          }
        }
      }
    }
    .modal-body {
      padding: 0;
    }
  }
}

/* add before footer */
#add-area {
  padding: 30px 0;
}

#form-filter-wrap {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  .filter-form {
    label {
      display: block;
      margin-bottom: 15px;
      color: #3d3d3d;
      font-size: 14px;
      font-family: 'montserratlight';
    }
    .btn {
      background-color: #ff4300;
      border-radius: 20px;
      border:none;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      height: 38px;
      font-family: 'montserratsemi_bold';
      margin-top: 15px;
      margin-right: 15px;
      float: right;
    }
    .price-range-group {
      margin-top: 10px;
      position: relative;
      label {
        margin-bottom: 5px;
      }
      span.range-label {
        color: #3d3d3d;
        position: absolute;
        top: 60px;
        &.range-max-label {
          right: 0;
        }
      }
      .slider-horizontal {
        width: 100%;
        margin-left: 10px;
        margin-bottom: 30px;
      }
      .slider-handle {
        position: absolute;
        top: 0;
        width: 10px;
        height: 20px;
        background-color: #ff4300;
        background-image: none;
        border: 0px solid transparent;
        border-radius: 0;
      }
      .slider-track {
        .slider-selection {
          background-color: #ff4300;
          background-image: none;
          border-radius: 0;
        }
      }
    }
    .input-group {      
      &.where-input-group {
        width: 100%;
      }
      .input-group-addon {
        width: 20px;
        border-radius: 20px 0 0 20px;
        border: 1px solid #b3b3b3;
        border-right: none;
        background-color: transparent;
        color: #b3b3b3;
      }
      input {
        border: 1px solid #b3b3b3;
        border-radius: 0 20px 20px 0;
        border-left: none;
        outline: none;
        box-shadow: none;
        padding-left: 0;
        height: 38px;
        color: #b3b3b3;
      }
    }
    .check-list {
      display: block;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-right: 10px;
        span {
          display: block;
          text-align: center;
          cursor: pointer;
          width: 25px;
          height: 25px;
          line-height: 25px;
          border-radius: 50%;
          border: 1px solid #b3b3b3;
          color: #b3b3b3;
        }
        &.clicked span {
          background-color: #ff5300;
          color: #fff;
          border-color: #ff5300;
        }
      }
    }
  }
}

#hotel-listing {
  background-color: #f5f4f4;
  padding-top: 30px;
  float: left;
  .member-item {
    margin-bottom: 30px;
    position: relative;   
    .member-item-wrap {
      background-color: #ffffff;
      border: 1px solid #b5b4b4; 
      -moz-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
      filter:progid:DXImageTransform.Microsoft.Shadow(color=#333333, Direction=149, Strength=8);
    }
    img.member-thumb {
      border-bottom: 5px solid #47a0ff;
      width: 100%;
    }
    .member-info {
      text-align: center;
      font-style: italic;
      padding-top: 30px;
      padding-bottom: 30px;
      h3 {
        color: #274787;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'DINOT-Black';
        margin-bottom: 30px;
        margin-top: 0;
      }
      p{
        margin-bottom: 0;
        color: #6a6d6e;
        font-size: 14px;
        font-family: 'DINOT-Regular';
      }
    }
    .member-item-link {
      ul {
        display: flex;
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          a {
            color: #817f7e;
            text-transform: uppercase;
            font-family: 'DINOT-Black';
            font-size: 11px;
            vertical-align: middle;
            border-top: 1px solid #e4e4e4;
            border-right: 1px solid #e4e4e4;
            padding: 15px;
            display: block;
            outline: none; 
            i {
              color: #47a0ff;
              font-size: 16px;
              font-weight: normal;
            }
            span {
              margin-left: 15px;
            }
          }
          &:last-child a {
            border-right:none;
          }
        }
        .detail {
          width: 42%;
        }
        .site {
          width: 38%;
        }
        .more {
          width: 20%;
        }
      }
    }
  }
}
.no-padd-slider {
  padding-top: 0;
  position: relative;
  .slider {
    .item {
      height: 430px;
      .contenu {
        width: 70%;
        left: 15%;
        top: 45%;
        transform: none;
        -webkit-transform: none;
      }
    }
  }
  &:after{
    background: transparent url("../images/header/ombre_menu.png") no-repeat scroll center center;
      bottom: -25px;
      content: "";
      height: 25px;
      position: absolute;
      width: 100%;
      left : 50%;
    transform : translate(-50%);
  }
}
.internal-add {
  margin: 25px 0;
}

.text-box h2.dark-text, .text-box .titre-h2.dark-text {
  color: $dark-text;
}

#section-address {
  margin: 15px auto 25px auto;
  .coord {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $gris-fond;
    .coord-bloc {
      .coord-bloc-header {
        text-align: center;
        background-color: #3e63ac;
        height: 55px;
        vertical-align: middle;
        display: block;
        padding: 15px;
        h2 {
          color: $blanc;
          font-family: $helveticaNeueBold;
          font-size: 18px;
          text-transform: uppercase;
          margin: 0;
          line-height: 25px;
        }
      }
      .coord-content {
        background-color: $blanc;
        padding: 40px 25px;
        ul {
          display: block;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: block;
            text-transform: uppercase;
            font-family: $helveticaNeueReg;
            color: $gris-txt;
            font-size: 14px;
            padding: 10px 25px 10px 50px;
            background: no-repeat left center transparent;
            &.money {
              background-image: url('../images/main/capitale.png');
              color: #3e63ac;
              font-family: $helveticaNeueBold;
            }
            &.address {
              background-image: url('../images/main/map.png');
              background-position: left 15px;
            }
            &.tel {
              background-image: url('../images/main/tel.png');
            }
            &.fax {
              background-image: url('../images/main/fax.png');
            }
            &.web {
              background-image: url('../images/main/web.png');
            }
            a {
              color:$orange;
              font-family: $helveticaNeueBold;
              text-transform: none;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 350px) {
  .modal-dialog .modal-content .modal-header .modal-link li{
    display: block!important;
  }
}
@media screen and (max-width: 480px) {
  #block-search {
    right: 70px!important;
  }
  #block-search .member-access {
    background-size: 40%;
  }
  #block-search .search-form .search-submit {
    width: 60%;
      margin-left: 10px;
  }
  #main-content .post-item .thumb {
    text-align: center;
  }
  #main-content .post-item .thumb .wp-post-image{
    float: none;
  }
  .modal-dialog .modal-content .modal-header .modal-link {
    display: inline-flex!important;
  }
}

@media screen and (max-width: 767px) {
  #top-menu {
    border: none;
  }
  #top-navbar .navbar-brand img{
    width: 70%;
  }
  #top-navbar .navbar-toggle {
    background: none;
    border:none;
    margin-bottom: 0;
  }
  #top-navbar .navbar-toggle .icon-bar {
    background-color: #e07c0e;
    width: 40px;
        height: 4px;
  }
  #top-menu-wrapper {
    background-color: #3e63ac;
    display: block;
    width: 100%;
  }
  #top-menu {
    box-shadow: none;
    float: none;
  }
  #top-menu .navbar-nav>li {
    text-align: right;
  }
  #top-menu .navbar-nav>li>a {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'montserratbold';
  }
  #block-search {
    top: -48px;
      right: 80px;
      position: absolute
  }
  #block-search .member-access {
    text-indent: -9999px;
      padding: 15px;
      margin-left: 0;
      width: 50px;
      background-color: transparent;
  }
  #block-search .member-access:before {
    background: none;
  }
  #search-icon {
    background-color: transparent;
  }
  .after-icon {
    display: none;
  }
  #main-navbar {
    display: none;
  }
  #main-footer .social-link {
    text-align: center;
  }
  #main-footer .footer-widget-list {
    margin: 30px 0;
    text-align: center;
  }
  #main-footer .footer-widget-list h3:after {
    left: 43%;
  }
  #bs-carousel .slideBg {
    height: 300px;
  }
  #bs-carousel .hero {
    top: 100px!important;
  }
  #bs-carousel .hero h1 {
    font-size: 20px;
    line-height: 24px;
  }
  #bs-carousel .hero h3 {
      font-size: 18px;
  }
  #bs-carousel .hero .btn {
    margin: 20px 0 0 0;
  }
  #main-content-wrapper {
    margin-top: 0!important;
  }
  #main-content .shadow-after-content {
    clear: both;
  }
  #main-content .post-item .thumb .wp-post-image {
    margin-left: auto;
    margin-right: auto;
  }
  #edito .block-thumb img{
    width: 100%;
  }
  #new-member-wrapper {
    .block-header {
      h2.block-title {
        font-size: 30px;
      }
    }
  }
  .modal-dialog {
    width: auto;
    .modal-content {
      .modal-header {
        .modal-logo-wrap {
          img {
            margin:0 auto;
            width: 50%;
          }
        }
        .modal-link {
          display: block;
          float: none;
          text-align: center;
          li {
            display: inline-table;
          }
        }
      }
    }
  }

  #page-head-wrap {
    height: 300px;
    .hero {
      margin-top: 150px;
      h1 {
        font-size: 20px;
        line-height: 24px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }

  #form-filter-wrap .filter-form .btn {
    float: none;
  }
  .filter-submit-wrap {
    margin-bottom: 0;
    text-align: center;
  }
  #form-filter-wrap .filter-form .input-group {
    width: 100%;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #block-search .member-access {
    text-indent: -9999px;
      padding: 15px;
      margin-left: 0;
      width: 50px;
      background-color: transparent;
  }
  #block-search .member-access:before {
    background: none;
  }
  #main-menu .navbar-nav>li>a {
    font-size: 14px;
  }
  #main-footer .social-link li a {
    width: 35px;
      height: 35px;
      padding: 5px;
  }
  #main-sidebar #edito h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  #main-footer .social-link li {
    margin-right: 10px;
  }
  .modal-dialog {
    width: 600px;
    .modal-logo-wrap {
      img {
        margin-right: auto;
        margin-left: auto;
      }
    }
    .modal-link {
      float: none!important;
    }
  }
}

@media screen and (max-width: 1023px) {
  #top-navbar .navbar-brand img{
    margin-left: 0;
  }
  #block-search .search-form {
    background: none;
  }
  #block-search .search-form .search-field {
    display: none;
  }
  #bs-carousel .carousel-indicators {
    display: none;
  }
  #bs-carousel .slideBg{
      background-position: center center;
  }
  #bs-carousel .hero {
    top: 250px;
    width: 100%;
    text-align: center;
  }
  .needClear {
    display: inline-block;
  }
  #edito .block-thumb:after {
    display: none;
  }
  #edito .block-thumb .thumb-wrap {
    width: 170px;
    height: 170px;
    margin: 25px auto 0 auto;
    position: relative;
  }
  #edito .block-thumb .thumb-wrap:after {
      position: absolute;
      content: '';
      width: 35px;
      height: 35px;
      right: 0;
      bottom: 0;
      background: url(../images/main/president-arrow.png) no-repeat left center transparent;
  }
}