$DINOT-Black : "DINOT-Black";
$DINOT-Regular : "DINOT-Regular";
$montserratsb : "montserratsemi_bold";
$montserratb : "montserratbold";
$montserratlt : "montserratlight";
$montserratxb : "montserratextra_bold";
$helveticaNeueLt : "HelveticaNeue-Light";
$helveticaNeueReg : "HelveticaNeue";
$helveticaNeueMed : "HelveticaNeue-Medium";
$helveticaNeueBold : "HelveticaNeue-Bold";

$gris-fond : #f5f4f4;
$orange : #e09d0e;
$orange-titre : #ff5300;
$blanc : #fff;
$gris-txt : #4f4d4d;
$black-text : #343535;
$bleu-titre : #1f3e86;
$dark-text : #343535;